.*.d
*.264
*.dSYM
*.h264
*.h264_metrics
*.log
*.mp4
*.m4v
*.o
*.ts
h264_workbench
cpuhog
ffplay
ssim_demo
xcuserdata

/Linux
/Experiments/3-03 Times and Metrics/FFmpeg.patch
/Experiments/3-03 Times and Metrics/FFmpeg
/FFmpeg
/Makeconf.local
/x264
