.*.d
*.dSYM
*.h264
*.h264_metrics
*.log
*.mp4
*.o
h264_workbench
cpuhog
ffplay
ssim_demo

/Linux
/Experiments/RTAS-Demo/Components/jobs.c
/Experiments/RTAS-Demo/FFmpeg.patch
/Experiments/RTAS-Demo/FFmpeg/
/Experiments/RTAS-Demo/starttime
/FFmpeg
/Makeconf.local
/Samples/FVDO_Shore_4cif.264
/Workbench.xcodeproj/xcuserdata
/Workbench.xcodeproj/project.xcworkspace/xcuserdata
/x264
