.*.d
*.264
*.dSYM
*.h264
*.h264_metrics
*.log
*.mp4
*.m4v
*.o
h264_workbench
cpuhog
ffplay
ssim_demo

/Linux
/Experiments/02 Times and Metrics/FFmpeg.patch
/Experiments/02 Times and Metrics/FFmpeg
/FFmpeg
/Makeconf.local
/Samples/bbc-r_m720p.cfg
/Workbench.xcodeproj/xcuserdata
/Workbench.xcodeproj/project.xcworkspace/xcuserdata
/x264
